extends header

block content
  h1= title
  p #{username}, here are your tracks for playlist #{playlist}.

    div.row.col-sm-6.col-sm-offset-3
        if (msg.length != 0)
            div.alert.alert-info.text-center(role="alert") #{msg}
    div.row
        div.col-sm-6.col-sm-offset-3.text-center
            form.form-inline(method='POST', action='tracks/createTrack')
                div.form-group
                    label.sr-only(for='track') Track Name
                    input.form-control#playlist(type='text', name='track', placeholder='Name', value='#{name}')
                div.form-group
                    label.sr-only(for='artist') Artist Type
                    input.form-control#genre(type='text', name='artist', placeholder='Artist', value='#{artist}')
                button.btn.btn-default(type='submit') Create Track

    div.row
      each playlist in playlists
        div.small-12.medium-4.large-3.columns
            p #{track.name}
            p #{track.artist}

        div.row
          div.small-12
            a(href='/admin/delete/#{track.id}') Delete
          div.small-12
            a(href='/admin/edit?id=#{track.id}') Edit
