extends header

block content
    div.row
        div.small-12.columns
            h1 #{username}, here are your tracks for #{playlistname}.
            p Create or select a track.

    div.row
        div.small-12.medium-6.columns    
            div.row
                div.small-12.medium-8.columns
                    if (msg.length != 0)
                        div.alert.alert-info.text-center(role="alert") #{msg}
            div.row
                div.small-12.medium-8.columns
                    form.form-inline(method='POST', action='/tracks/createTrack')
                        div.form-group
                            label.sr-only(for='track') Track Name
                            input.form-control#track(type='text', name='track', placeholder='Name', value='#{name}')
                        div.form-group
                            label.sr-only(for='artist') Artist Type
                            input.form-control#artist(type='text', name='artist', placeholder='Artist', value='#{artist}')
                        div.form-group
                            label.sr-only(for='url') URL
                            input.form-control#url(type='text', name='url', placeholder='URL', value='#{url}')

                        button.button.small(type='submit') Create Track
                        &nbsp;
                        button.button.small(type='reset') Reset From

        div.small-12.medium-6.columns
            div.row
                each track in tracks
                    div.small-12.medium-6.columns.end
                        //- div.row
                        div.small-12.columns
                            p #{track.name}
                            p #{track.artist}
                            //- p #{track.url}
                            iframe(width='100%' height='166' scrolling='no' frameborder='no' src='https://w.soundcloud.com/player/?url=' + track.url + '&amp;color=0066cc')
                            
                        div.small-12.columns            
                            a.button.small(href='/tracks/delete/#{track.id}') Delete
                            //- &nbsp;
                            //- a.button.small(href='/tracks/edit?id=#{track.id}') Edit
